astroid==1.6.3
awacs==0.7.2
backcall==0.1.0
boto3==1.7.10
botocore==1.10.10
cfn-flip==1.0.3
click==6.7
decorator==4.3.0
docutils==0.14
isort==4.3.4
jedi==0.12.0
jmespath==0.9.3
lazy-object-proxy==1.3.1
mccabe==0.6.1
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pylint==1.8.4
python-dateutil==2.7.2
PyYAML==3.12
s3transfer==0.1.13
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
troposphere==2.2.1
wcwidth==0.1.7
wrapt==1.10.11
